{% extends "base.html" %}

{% block title %}Add/Edit Cafe{% endblock %}

{% block content %}
<h1>Cafe Form</h1>
<form method="post">
    {{form.hidden_tag()}}
    <p>
        <label>{{form.name.label}}</label>
        {{form.name()}}
    </p>
    <h2>Address</h2>
    {{form.address.hidden_tag()}}
    <p>
        <label>{{form.address.street.label}}</label>
        {{form.address.street()}}
    </p>
    <p>
        <label>{{form.address.district.label}}</label>
        {{form.address.district()}}
    </p>
    <p>
        <label>{{form.address.province.label}}</label>
        {{form.address.province()}}
    </p>
    <h2>Geolocation</h2>
    <p>
        <label>{{form.address.lat.label}}</label>
        {{form.address.lat()}}
    </p>
    <p>
        <label>{{form.address.lon.label}}</label>
        {{form.address.lon()}}
    </p>
    <a href="{{url_for('webadmin.index')}}">Back</a>
    <input type="submit" value="Submit">
</form>
{% endblock %}