{% extends "base.html" %}

{% block title %}Add/Edit Cafe{% endblock %}

{% block content %}
<h1>Cafe Form</h1>
<form method="post">
    {{form.hidden_tag()}}
    <p>
        <label>{{form.name.label}}</label>
        {{form.name()}}
    </p>
    <p>
        <label>{{form.price_level.label}}</label>
        {{form.price_level()}}
    </p>
    <h2>Styles</h2>
    <p>
        {{form.styles()}}
    </p>
    <h2>Zone Availability</h2>
    <p>
        {{form.zones()}}
    </p>
    <h2>Seating</h2>
    <p>
        <label>{{form.seating_avail.label}}</label>
        {{form.seating_avail()}}
    </p>
    <h2>Amenities</h2>
    <p>
        <label>
            {{form.pet_friendly()}}
            {{form.pet_friendly.label}}
        </label>
    </p>
    <p>
        <label>
            {{form.free_wifi()}}
            {{form.free_wifi.label}}
        </label>
    </p>
    <h2>Recommended Activities</h2>
    <p>
        {{form.activities()}}
    </p>
    <h2>Parking</h2>
    <p>
        <label>{{form.parking_avail.label}}</label>
        {{form.parking_avail()}}
    </p>
    <p>
        <label>
            {{form.parking_fee()}}
            {{form.parking_fee.label}}
        </label>
    </p>
    <p>
        <label>{{form.parking_note.label}}</label>
        {{form.parking_note()}}
    </p>
    <p>
        <label>{{form.service_charge_rate.label}}</label>
        {{form.service_charge_rate()}}
    </p>
    <p>
        <label>
            {{form.vat_included()}}
            {{form.vat_included.label}}
            {{form.vat_included.description}}
        </label>
    </p>
    <h2>Address</h2>
    {{form.address.hidden_tag()}}
    <p>
        <label>{{form.address.street.label}}</label>
        {{form.address.street()}}
    </p>
    <p>
        <label>{{form.address.subdistrict.label}}</label>
        {{form.address.subdistrict()}}
    </p>
    <p>
        <label>{{form.address.district.label}}</label>
        {{form.address.district()}}
    </p>
    <p>
        <label>{{form.address.province.label}}</label>
        {{form.address.province()}}
    </p>
    <p>
        <label>{{form.address.postal_code.label}}</label>
        {{form.address.postal_code()}}
    </p>
    <h2>Geolocation</h2>
    <p>
        <label>{{form.address.lat.label}}</label>
        {{form.address.lat()}}
    </p>
    <p>
        <label>{{form.address.lon.label}}</label>
        {{form.address.lon()}}
    </p>
    <a href="{{url_for('webadmin.index')}}">Back</a>
    <input type="submit" value="Submit">
</form>
{% endblock %}