{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Instagram Post Form</h1>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <form method="post">
                        {{form.hidden_tag()}}
                        <p class="field">
                            <label class="label">{{form.embedded_url.label}}</label>
                            {{form.embedded_url(class="textarea")}}
                        </p>
                        <p class="field">
                            <label class="checkbox">
                                {{form.official_post()}}
                                {{form.official_post.label}}
                            </label>
                        </p>
                        <div class="field">
                            <div class="control">
                                <a href="{{url_for('webadmin.index')}}" class="button is-light">Back</a>
                                <input class="button is-success" type="submit" value="submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}